<nav class="nav-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li id="services">
      <a href="/grid">Grid</a>
      <div class="sub-nav">
        <div class="sub-nav-col left">
          <a href="/grid/customeditingrf" class="sub-nav-box" id="box-1">
            <div class="icon-background" id="icon-1">
              <i class="fab fa-sellsy icon"></i>
            </div>
            <h4>Custom Editing in Reactive Forms</h4>
            <p>Dedicated ad platform</p>
          </a>
          <a href="#" class="sub-nav-box" id="box-2">
            <div class="icon-background" id="icon-2">
              <i class="fas fa-user-lock icon"></i>
            </div>
            <h4>Consulting</h4>
            <p>24/7 support team</p>
          </a>
          <a href="#" class="sub-nav-box" id="box-3">
            <div class="icon-background" id="icon-3">
              <i class="fas fa-chart-line icon"></i>
            </div>
            <h4>Investing</h4>
            <p>Financial planning & risk</p>
          </a>
          <a href="#" class="sub-nav-box" id="box-4">
            <div class="icon-background" id="icon-4">
              <i class="fas fa-hand-holding-usd icon"></i>
            </div>
            <h4>Funding</h4>
            <p>Kickstart your idea</p>
          </a>
        </div>
        <div class="sub-nav-col right">
          <a href="#" class="sub-nav-box" id="box-5">
            <div class="icon-background" id="icon-5">
              <i class="fas fa-trophy icon"></i>
            </div>
            <h4>Goals</h4>
            <p>Monthly tracking</p>
          </a>
          <a href="#" class="sub-nav-box" id="box-6">
            <div class="icon-background" id="icon-6">
              <i class="far fa-calendar-check icon"></i>
            </div>
            <h4>Onboarding</h4>
            <p>Get started quickly</p>
          </a>
          <a href="#" class="sub-nav-box" id="box-7">
            <div class="icon-background" id="icon-7">
              <i class="fas fa-briefcase icon"></i>
            </div>
            <h4>Resources</h4>
            <p>FAQ questions</p>
          </a>
          <a href="#" class="sub-nav-box" id="box-8">
            <div class="icon-background" id="icon-8">
              <i class="fas fa-phone-alt icon"></i>
            </div>
            <h4>Support</h4>
            <p>Contact a specialist</p>
          </a>
        </div>
      </div>
    </li>
    <li id="charts">
      <a href="/">Charts</a>
      <div class="sub-nav2">
        <div class="sub-nav-col2 left">
          <a href="#" class="sub-nav-box2" id="box2-1">
            <div class="icon-background" id="icon2-1">
              <i class="fab fa-sellsy icon"></i>
            </div>
            <h4>Stock Chart</h4>
            <p>Dedicated ad platform</p>
          </a>
          <a href="#" class="sub-nav-box2" id="box2-2">
            <div class="icon-background" id="icon2-2">
              <i class="fas fa-user-lock icon"></i>
            </div>
            <h4>Consulting</h4>
            <p>24/7 support team</p>
          </a>
          <a href="#" class="sub-nav-box2" id="box2-3">
            <div class="icon-background" id="icon2-3">
              <i class="fas fa-chart-line icon"></i>
            </div>
            <h4>Investing</h4>
            <p>Financial planning & risk</p>
          </a>
          <a href="#" class="sub-nav-box2" id="box2-4">
            <div class="icon-background" id="icon2-4">
              <i class="fas fa-hand-holding-usd icon"></i>
            </div>
            <h4>Funding</h4>
            <p>Kickstart your idea</p>
          </a>
        </div>
        <div class="sub-nav-col2 right">
          <a href="#" class="sub-nav-box2" id="box2-5">
            <div class="icon-background" id="icon2-5">
              <i class="fas fa-trophy icon"></i>
            </div>
            <h4>Goals</h4>
            <p>Monthly tracking</p>
          </a>
          <a href="#" class="sub-nav-box2" id="box2-6">
            <div class="icon-background" id="icon2-6">
              <i class="far fa-calendar-check icon"></i>
            </div>
            <h4>Onboarding</h4>
            <p>Get started quickly</p>
          </a>
          <a href="#" class="sub-nav-box2" id="box2-7">
            <div class="icon-background" id="icon2-7">
              <i class="fas fa-briefcase icon"></i>
            </div>
            <h4>Resources</h4>
            <p>FAQ questions</p>
          </a>
          <a href="#" class="sub-nav-box2" id="box2-8">
            <div class="icon-background" id="icon2-8">
              <i class="fas fa-phone-alt icon"></i>
            </div>
            <h4>Support</h4>
            <p>Contact a specialist</p>
          </a>
        </div>
      </div>
    </li>
    <li><a href="/">TreeView</a></li>
    <li><a href="/">Editor</a></li>
    <li><a href="/">Sign up</a></li>
  </ul>
</nav>
